* {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Pretendard", sans-serif;
  background-color: #141f29;
  font-weight: 400;
  font-size: 1rem;
  min-width: 640px;
}

.container {
  margin: 0 auto;
  padding: 0;
}

/* header */

.header {
  background-color: #000;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  padding: 0 24px;
  min-height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.header .logo {
  font-size: 1.2rem;
  font-weight: 700;
}

.header .searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  border-bottom: 1px solid #969696;
}

.header .searchForm:hover {
  border-bottom: 1px solid white;
  transition: all 0.3s;
}

.header .searchForm input {
  width: 300px;
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 8px;
}

.header .searchForm button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 8px;
}

.header .searchForm button:hover {
  border-radius: 50%;
  background-color: #313131;
}

.header .searchForm button img {
  width: 24px;
}

.header .githubLink a img {
  width: 36px;
}

/* main */

.main {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .mainTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.sortFormSelect {
  display: flex;
  align-self: flex-end;
  margin: 1rem 0;
}

.main .movieCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  padding: 0 100px;
}

.main ul li {
  cursor: pointer;
  font-size: 0.875rem;
  width: 12rem;
  overflow: hidden;
}

.main ul li .movieWrapper:hover {
  border-radius: 0.3rem;
  transition: all 0.3s;
  filter: brightness(110%);
  box-shadow: 0 0 20px 5px rgba(43, 60, 75, 0.4);
  background-color: #2b3c4b;
}

.main ul li .moviePoster img {
  width: 12rem;
  height: 18rem;
  object-fit: cover;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.movie .movieKoTitle {
  padding: 8px 8px 2px;
  font-weight: 700;
}

.movie .movieEnTitle {
  padding: 0 8px 8px;
  font-weight: 400;
}

.movie .movieOverview {
  padding: 2px 8px 2px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.movie .movieInfo {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px 8px;
}

.movieYear,
.movieTotal,
.movieEnTitle {
  color: rgba(255, 255, 255, 0.7);
}

.movieRating {
  display: flex;
  justify-content: end;
  align-items: center;
}

.movieRating img {
  width: 18px;
  margin-right: 2px;
}
