.review {
  width: 100%;
  height: 500px;
}

.reviewTitle {
  font-size: 1.5em;
  margin-block-start: 0.1em;
  margin-block-end: 0.83em;
  font-weight: bold;
  width: 100%;
  height: 40px;
  text-align: center;
}

.reviewBox {
  width: 100%;
  height: 400px;
  background-color: #35353579;
  border: 1px solid rgb(43, 43, 43);
  overflow: auto;
  overflow-x: hidden;
  border-radius: 30px;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

/* Review item styling */
.reviewItem {
  padding: 10px;
  margin-bottom: 10px;
}

/* Review author styling */
.reviewAuthor {
  font-size: 22px;

  font-weight: bold;
  margin-bottom: 10px;
}

/* Review content styling */
.reviewContent {
  font-size: 16px;
  color: #e0e0e0;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* Review actions styling */
.reviewActions {
  display: flex;
  gap: 18px;
  justify-content: flex-end;
  margin-right: 10px;
}

/* Button styling */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* 버튼 너비 조정 */
  height: 30px; /* 버튼 높이 조정 */
  font-size: 16px; /* 폰트 크기 조정 */

  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 2px; /* 둥근 모서리 */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn.update {
  background-color: #29992c;
}

.btn.update:hover {
  background-color: #1d7c20;
  transform: scale(1.02);
}

.btn.delete {
  background-color: #f44336;
}

.btn.delete:hover {
  background-color: #d32f2f;
}

/* ------------------------------------- */
.reviewItem + hr {
  border: none;
  border-top: 1px solid #ffffff33;
  margin: 8px 0;
}

.inputIdPw {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inputIdPw > input {
  background-color: #353535be;
  width: calc(50% - 7.5px); /* 48%의 너비를 조정하여 여백을 고려 */
  height: 35px;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
}

.inputValue {
  display: flex;
  align-items: center;
  gap: 10px; /* 요소 사이 간격 설정 */
}

.inputValue > input {
  background-color: #353535be;
  flex: 1; /* 남은 공간을 모두 사용하도록 설정 */
  height: 35px;
  padding: 0 10px;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputValue > button {
  background-color: #ffffff29;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* 버튼 너비 조정 */
  height: 35px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.inputValue > button:hover {
  background-color: #ffffff40; /* 호버 시 배경색 조정 */
}
