.review {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.reviewTitle {
    width: 100%;
    height: 30px;
    text-align: center;
    align-content: center;
    background-color: lightblue;
}

.reviewBox {
    width: 100%;
    height: 270px;
    background-color: aliceblue;
    overflow: auto;
    overflow-x: hidden;
}

.input {
    width: 100%;
    height: 30px;
}

.inputIdPw > input {
    width: 44%;
    height: 30px;
    margin: 10px;
}

.inputValue {
    display: flex;
}

.inputValue > input {
    width: 90%;
    height: 30px;
    margin: 10px;
}

.inputValue > button {
    width: 6%;
    height: 35px;
    margin: 10px;
}
